.booking-tablist{
  &-title{
    line-height: 30px;
    font-weight: bold;
    padding: 10px 0;
  }
  &-content{
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    position: relative;
    padding-left: 121px;
  }
  &-pane{
    padding: 20px;
  }
}
