@mixin displayinline{
  display: inline-block;
}

@mixin transparent{
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  transition: all linear .3s;
}

@mixin fontsize($px){
  font-size: $px;
}

$colorw:#fff;
$colorb:#0096ff;
$colorh:#323232;


.brand {
  width: 100%;
  &-justified{
    @include fontsize(16px);
    ul li{
      overflow: hidden;
      position: relative;
      width: 25%;
      min-height: 290px;
      float: left;
      cursor: pointer;
      @include displayinline;
      b{
        @include fontsize(24px);
        color: #fff;
        z-index: 2;
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        bottom: 35%;
      }
      span{
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        &::after{
          position: absolute;
          content: "";
          background-color: rgba(0,0,0,.6);
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          @include transparent;
        }
      }
      &.brandactive,&:hover{
        ::after{
          content: "";
          background-color: rgba(0,0,0,0);
        }
      }
    }
  }
}
