.our-team {
  widows: 100%;
  position: relative;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;

  &-carousel {
    width: 100%;
    height: 500px;
    background-color: #292a2f;
    position: relative;

    &-bg {
      width: 100%;
      position: absolute;
      p {
        position: absolute;
        left: 0;
        color: #fff;
        left: 40px;
        top: 195px;
      }

      .team-item-info-name {
        font-size: 48px;
        display: block;
      }

      .team-item-info-title {
        font-size: 24px;
        color: #969696;
      }
    }
  }

  &-footer {
    line-height: 2em;
    padding: 70px 0 120px 0;
  }

}

@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}

.mask {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: #292a2f;
  top: 88px;
  z-index: 1;
}

.brand-title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 34px;
  margin-top: 20px;
  color: #000;
}

.employee-item-list-box {
  width: calc(100% - 80px);
  margin-right: auto;
  margin-left: auto;
}

.employee-item-list {
  width: 185px;
  height: 185px;
  margin: 0 8px 8px 0;
}

.center {
  text-align: center;
}

.inverstors-item-list-box {
  margin: 75px 0;
}

.inverstors-item-list {
  width: 300px;
}

@media screen and (max-width: 1458px) and (min-width: 1323px) {
  .inverstors-item-list {
    width: 240px
  }

  .employee-item-list {
    width: 135px;
    height: 135px;
  }
}
