@mixin displayinline{
  display: inline-block;
}

@mixin transparent{
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  transition: all linear .3s;
}

@mixin fontsize($px){
  font-size: $px;
}

@mixin public(){
  background-color: rgba(0,0,0,.6);
  padding: 10px 20px 0 20px;
  color: $colorw;
}

$colorw:#fff;
$colorb:#0096ff;
$colorh:#323232;
$colorg:#8c8c8c;
$colorq:#969696;
$colora:#40ae3d;

.sign-up{
  position: absolute;
  top: 28px;
  right: 90px;
  border-radius: 3px;
  width: 370px;
  z-index: 2;
  &-title{
    font-size: 18px;
    text-align: center;
    color: $colorw;
    font-weight: bold;
    background-color: rgba(0,0,0,.6);
    line-height: 40px;
    padding-top: 30px;
  }
  &-pad{
    padding: 30px 0;
  }
  &-bot{
    padding: 20px 20px 80px 20px!important;
  }
  &-password{
    width: 100%;
  }
  &-dont{
    @include public;
    text-align: center;
    padding-top: 40px;
  }
  &-public{
    @include public;
    padding-top: 0;
    a{
      color: $colorw;
    }
    &-fover{
      text-align: right;
      padding-bottom: 10px;
      cursor: pointer;
      top: -5px;
      position: relative;
      z-index: 3;
      @include transparent();
      &:hover{
        text-decoration: underline;
      }
    }
    &-fovpassword{
      width: 100%;
      button{
        width: 100%;
      }
    }
    &-tips{
      display: block;
      margin: 15px auto;
      color: $colorw;
      text-align: center;
      cursor: pointer;
      @include transparent();
      &:hover{
        text-decoration: underline;
      }
    }
    &-also{
      margin: 16px 0 0;
      padding: 20px 0 16px;
      border-top: 1px solid #333e45;
      color: $colorw;
      text-align: center;
    }
    &-qq{
      img{
        width: 32px!important;
        height: 32px!important;
        left: 0px!important;
        top: 3px!important;
      }
    }
    &-party{
      padding: 10px 0 20px 0;
      text-align: center;
      line-height: 25px;
      a{
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        &:first-child b{
          background: $colora;
        }
        &:last-child b{
          background: $colorw;
        }
        b{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          i{
            font-size: 38px;
            margin-top: 6px;
            display: inline-block
          }
          display: inline-block;
         
          img{
            width: 43px;
            height: 43px;
            position: relative;
            top: -1px;
            left: -1px;
          }
        }
      }
    }
    &-foot{
      font-size: 12px;
      text-align: center;
      padding-bottom: 80px;
      a{
        color: $colorb;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
    &-model{
      padding: 10px 0;
      &-title{
        font-size: 18px;
        text-align: center;
        padding-bottom: 20px;
      }
      &-content{
        font-size: 14px;
        h4{
          font-size: 15px;
          padding: 10px 0 ;
        }
        p{
          padding-bottom: 5px;
        }
      }
    }
  }
  &-content{
    @include public;
    &-tab{
      margin-top: 25px;
    }
    &-dt{
      margin-top: 40px;
    }
    &-top{
      text-align: center;
      color: #fff;
      font-size: 14px;
    }
  }
  &-getbtn{
    position: absolute;
    z-index: 3;
    right: 8px;
    top: 2px;
  }
}

.member{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url(https://content.igola.com/static/EVENT/common/images/account-bg-blue-sky.jpg);
  background-size: cover;
  position: fixed;
  &-picture{
    position: absolute;
    top: 35%;
    left: 50%;
    margin: -10px 0 0 -494px;
    z-index: 10;
    background-image: url(https://content.igola.com/static/COMMON/images/igola-slogan-ZH.png);
    height: 126px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 298px;
  }
  &-footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    clear: both;
    padding-bottom: 12px;
    padding-top: 12px;
    p{
      text-align: center;
      line-height: 1.3;
      padding-top: 5px;
      margin: 0;
      color: #969696;
    }
  }
}


