@mixin displayinline{
  display: inline-block;
}

@mixin transparent{
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  transition: all linear .3s;
}

@mixin fontsize($px){
  font-size: $px;
}

@mixin public(){
  background-color: rgba(0,0,0,.6);
  padding: 10px 20px 0 20px;
  color: $colorw;
}

$colorw:#fff;
$colorb:#0096ff;
$colorh:#323232;
$colorg:#8c8c8c;
$colorq:#969696;


.sortprice{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #323232;
  border-radius: 4px 4px 0 0;
  ul{
    li{
      margin: 0!important;
      cursor: pointer;
      width: 33.334%;
      height: 100%;
      padding: 5px 15px;
      border-right: 1px solid #585858;
      box-sizing: border-box;
      color: #fff;
      overflow: hidden;
      cursor: pointer;
      float: left;
      @include transparent();
      &:first-child {
        border-radius: 4px 0 0 0;
      }
      &.active,&:hover {
        background-color: #585858;
      }
    }
  }
}

.sortprice-icon{
  line-height: 40px;
  float: left;
  i{
    font-size: 27px;
  }
}
.sortprice-info{
  height: 40px;
  float: left;
  padding-left: 24px;
}
