.passengers {
  width: 100%;

  h2 {
    margin: 24px 0;
    color: #6895be;
    font-weight: 700;
    font-size: 16px;
  }

  &-shops {
    padding: 0 0 16px;

    span {
      color: #969696;
    }

    b {
      color: #00b4ff;
    }
  }

  .card {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    width: 100%;
    margin: 0 10px 10px 0;

    h6 {
      margin: 0;
      font-size: 16px;
      border-bottom: 1px solid #c8c8c8;
      font-weight: 700;
      padding-left: 0;
      border-color: #dcdcdc;
      line-height: 46px;

      strong {
        height: 48px;
        padding-left: 20px;
        display: inline-block;
        padding-left: 14px;
        border-left: 5px solid #3291eb;

        text-overflow: ellipsis span {
          color: #969696;
          font-weight: 400;
          padding-left: 6px;
          padding-right: 8px;
        }
      }

      p {
        display: inline-block;
        padding-left: 40px;
        font-weight: 400;
        .line {
          color: #969696;
          font-size: 19px;
        }
      }
    }

    ul {
      font-size: 15px;
      padding-left: 50px;
      padding: 16px;
      li {
        line-height: 30px;
        label {
          width: 90px;
          margin-right: 12px;
          margin-bottom: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #969696;
        }
        span{
          width: auto;
          float: none;
        }
      }
    }
  }
}

.card-edit {
  float: right;
  margin: 10px 6px 0 0;
  cursor: pointer;

  i {
    font-size: 19px;
    margin-top: -18px
  }

  span {
    position: relative;
    top: -8px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding-left: 4px
  }
}

.card-delete {
  margin-right: 12px;
}

.card-btn-line {
  float: right;
  font-size: 23px;
  color: #d6d6d6;
  font-weight: 400;
  padding: 0 6px
}

.new-card-add{
  border: 1px dotted #dcdcdc;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  height: 52px;
  padding-top: 13px;
  margin-bottom: 30px;
  i{
    color: #3291eb;
    font-size: 27px;
    position: relative;
    top: -2px;
  }
}