.passengers {
  width: 100%;

  h2 {
    margin: 24px 0;
    color: #6895be;
    font-weight: 700;
    font-size: 16px;
  }

  &-shops {
    padding: 0 0 16px;

    span {
      color: #969696;
    }

    b {
      color: #00b4ff;
    }
    p{
      float: right;
      cursor: pointer;
      i{
        color:#3291eb;
        font-size: 23px;
        display: inline-block;
        margin-left: 7px;
      }
      span{
        color:#323232;
        position: relative;
        top: 2px
      }
    }
  }

  .card {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    width: 100%;
    margin: 0 10px 10px 0;

    h6 {
      margin: 0;
      font-size: 16px;
      border-bottom: 1px solid #c8c8c8;
      font-weight: 700;
      padding-left: 0;
      border-color: #dcdcdc;
      line-height: 46px;
    
      strong {
        height: 48px;
        padding-left: 20px;
        display: inline-block;
        padding-left: 14px;
        border-left: 5px solid #3291eb;

        text-overflow: ellipsis span {
          color: #969696;
          font-weight: 400;
          padding-left: 6px;
          padding-right: 8px;
        }
      }

      p {
        display: inline-block;
        padding-left: 40px;
        font-weight: 400;

        .line {
          color: #969696;
          font-size: 19px;
        }
      }
    }

    ul {
      font-size: 15px;
      padding-left: 50px;
      padding: 16px;

      li {
        line-height: 30px;

        label {
          width: 90px;
          float: left;
          margin-right: 12px;
          margin-bottom: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #969696;
        }

        span {
          width: auto;
          float: none;
        }
      }
    }
  }
}

.card-edit {
  float: right;
  margin: 10px 6px 0 0;
  cursor: pointer;

  i {
    font-size: 19px;
    margin-top: -18px
  }

  span {
    position: relative;
    top: -8px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding-left: 4px
  }
}

.card-delete {
  margin-right: 12px;
}

.card-btn-line {
  float: right;
  font-size: 23px;
  color: #d6d6d6;
  font-weight: 400;
  padding: 0 6px
}

.new-card-add {
  border: 1px dotted #dcdcdc;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  height: 52px;
  padding-top: 13px;
  margin-bottom: 30px;

  i {
    color: #3291eb;
    font-size: 27px;
    position: relative;
    top: -1px;
  }
}

.passenger-content {
  position: relative;
  padding-bottom: 40px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-bottom: 14%;

  header {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;

    h5 {
      height: 30px;
      line-height: 30px;
      margin: 0;
      display: inline-block;
      padding-left: 12px;
      border-left: 3px solid #3291eb;
      font-weight: 700;
      font-size: 16px;
    }

    p {
      float: right;
      margin: 4px 12px 0 0;
      line-height: 24px;
      color: #323232;

      i {
        font-size: 19px;
        color: #ff484a;
        margin: -3px 4px 0 0;
      }
    }
  }

  &>section {
    width: 100%;

    h6 {
      font-size: 15px;
      font-weight: 400;
      margin: 20px 0 18px 17px;
      i{
        margin: -3px 0 0;
      }
    }
  }
}


.form-group {
  position: relative;
  margin-left: 0;
  margin-bottom: 0;
  // margin-top: 12px;
  padding-bottom: 16px;
  display: flex;
  padding-left: 30px;
  float: left;
  width: 100%;

  &>label {
    color: #0096ff;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    line-height: 18px;
    text-align: left;
    padding: 0 3px;
    position: absolute;
    width: auto;
    background: #fff;
    top: -11px;
    border-radius: 12%;
    z-index: 2;
    left: 50px;
  }
}

.middleName {
  // color: #409eff;
  // padding-left: 34px;
  // height: 30px;
  // line-height: 30px;
  // position: relative;
  // top: -28px;
  // cursor: pointer;
  // margin-top: 51px
  color: #409eff;
  padding-left: 34px;
  height: 30px;
  line-height: 30px;
  /* position: relative; */
  /* top: -28px; */
  cursor: pointer;
  /* margin-top: 51px; */
  margin-bottom: 20px;
}

.line{
  border-top: 1px dashed #bdbcbc;
  width: calc(100% - 40px);
  margin: 0 auto;
}
.marginBottom{
  margin:8px auto 15px;
}
.addCertificates{
  cursor: pointer;
  display: inline-block;
  border: 1px dashed #c8c8c8;
  padding: 8px 16px;
  margin-left:20px;
  i{
    color: #3291eb;
    font-size: 23px;
    margin-right:5px;
    margin-top: -4px;
  }
}
.submitStyle{
  text-align: center;
  padding-top: 20px;
}