@mixin displayinline{
  display: inline-block;
}

@mixin transparent{
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  transition: all linear .3s;
}

@mixin fontsize($px){
  font-size: $px;
}

@mixin public(){
  background-color: rgba(0,0,0,.6);
  padding: 10px 20px 0 20px;
  color: $colorw;
}

$colorw:#fff;
$colorb:#0096ff;
$colorh:#323232;
$colorg:#8c8c8c;
$colorq:#969696;

.sort-bar{
  width: 100%;
  position: relative;
  min-height: 40px;
  border: 1px solid transparent;
  background-color: $colorh;
  border-radius: 4px 4px 0 0;
  ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li{
      margin: 6px 0;
      border-right: 1px solid #585858;
      float:left;
      cursor: pointer;
      &:last-child{
        border-right: 0;
      }
      a{
        color: $colorw;
        padding-right: 30px;
        line-height: 18px;
        border-radius: 0;
        padding: 4px 15px;
        position: relative;
        span{
          position: absolute;
          float: right;
          right: -20px;
          top: 0px;
          width: 15px;
          height: 20px;
          display: none;
        }
        i{
          color: $colorw;
          &.arrowup{
            position: absolute;
            top: 0;
            transition: all .3s cubic-bezier(.175,.885,.335,1.05);
          }
          &.arrowdown{
            position: absolute;
            bottom: -8px;
            transition: all .3s cubic-bezier(.175,.885,.335,1.05);
          }
        }

        &:hover{
          color: $colorg;
        }
      }
      &.sortbaracitve{
        cursor: pointer;
        a{
          padding: 4px 30px 4px 15px;
          span{
            display: inline-block;
            i.active{
              color: $colorb
            }
          }
        }
        &:hover{
          background: $colorb;
          a{
            color: $colorw;
          }
        }
      }
    }
  }
}
