$colorb:#00bedc;
.bedCardwrap{
  position: relative;
  display: flex;
  padding: 20px 10px;
  border: .5px solid #d2d2d2;
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &:hover{
    box-shadow: 0 2px 14px 0 hsla(0,0%,71%,.6);
    background:#f6fcfd;
  }
  .item-name{
    font-size: 20px;
    color: #464646;
    letter-spacing: 0;
    line-height: 28px;
    span{
      font-size: 16px;
      text-decoration: underline;
      cursor: pointer;
      padding-left:8px;
    }
  }
  .info-text{
    font-size: 16px;
    color: #464646;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 10px;
  }
  &-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .item-price{
      b{
        font-size: 24px;
        color: #464646;
        font-weight: 700;
        display: block;
        line-height: 27px;
      }
      span{
        font-size: 14px;
        color: #9b9b9b;
        float:right;
      }
    }
    .book-btn{
      text-align: center;
      line-height: 40px;
      width: 90px;
      height: 40px;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(90deg,#28c8dc 0,#3296d2 100%);
      border-radius: 6px;
      margin-left: 20px;
      cursor: pointer;
      overflow: hidden;
      span{
        font-size: 16px;
        color: #fff
      }
      i{
        font-size: 35px;
        color:#fff;
        margin-top: -3px;
      }
    }
  }
}
.font-light-mac{
  font-family: PingFangSC-Light,STXihei,sans-serif;
}
.bg{
  background-image: linear-gradient(90deg,#ff8532 0,#ff5200 100%)!important;
}