$colorw:#0096ff;


.city {
  &-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
    max-height: 206px;
    overflow-y: auto;
    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 125px;
      line-height: 44px;
      padding-left: 25px;
      cursor: pointer;
      color: #323232;

      &:hover {
        color: $colorw;
      }
    }
  }
}

.city-search{
  box-shadow: 0 0 6px 0 hsla(0, 0%, 71%, .7);
  background-color: #fff;
  width: 100%;
}

.search-panel {
  box-shadow: 0 0 6px 0 hsla(0, 0%, 71%, .7);
  background-color: #fff;
  min-width: 290px;
  .list-panel {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 10px;

    .inline-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 26px;
      cursor: pointer;
      .item-city {
        width: 100%;
        dl{
          width: 100%;
          dt{
            font-size: 15px;
            line-height: 36px;
            display: block;
            padding: 0 10px;
            &:hover{
              background:#edf8fb;
              border-radius: 3px;
            }
          }
          dd{
            display: block;
            font-size: 14px;
            padding: 0 10px;
            line-height: 30px;
            ul{
              li{
                &:hover{
                  display: block;
                  background:#edf8fb;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
  .tip-panel{
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 25px;
  }
}
