@mixin displayinline{
  display: inline-block;
}

@mixin transparent{
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  transition: all linear .3s;
}

@mixin fontsize($px){
  font-size: $px;
}

@mixin searchair(){
  height: 32px;
  line-height: 32px;
}

@mixin backgcolor(){
  background-color: hsla(0,0%,100%,.2);
}


$colorw:#fff;
$colorb:#0096ff;
$colorh:#323232;
$colorg:#8c8c8c;
$colorq:#969696;


.flights-moretrip{
  &-three{
    width: 50%;
  }
  &-segment{
    width: 120px;
    display: inline-block;
    span{
      color: #fff;
      line-height: 14px;
      font-size: 12px;
      display: block;
    }
    b{
      color: #00b4ff;
      line-height: 16px;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
    }
  }
  &-more{
    width: 26px;
    height: 26px;
    background: #969696;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    top: -4px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    &:hover{
      background: $colorg;
    }
    i{
      color: rgba(0,0,0,.7);
      font-size: 24px;
      position: relative;
      top: -3px;
    }
  }
  &-tcc{
    .flights-moretrip-layer{
      display: block;
    }
  }
  &-layer{
    width: 700px;
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    left: 120px;
    display: none;
    z-index: 3;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    .flights-index-search-input-city{
      border: 1px solid #ccc;
      height: 32px;
      line-height: 32px;
    }
    .flights-index-search-input-left-change i:hover{
      color: #000;
    }
    .flights-index-search-input-left-change{
      margin-top: 2px;
    }
    .flights-index-addbutton-addadress{
      width: 190px;
      color: #000;
      font-size: 16px;
      height: 32px;
      line-height: 32px;
      border-radius: 4px;
      cursor: pointer;
      span{
        font-size: 14px;
      }
    }
  }
}

.flights-over{
  padding-right: 50px;
}
